/* customerCare.css */

  .customerCareHeading {
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
  }
  
  .customerCareContent {
    line-height: 1.6;
    margin: 1.25rem;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
  }
  
  .customerCareContent p {
    margin-bottom: 10px;
  }
  
  .customerCareContent ul {
    margin-bottom: 20px;
  }
  
  .customerCareContent ul li {
    list-style-type: disc;
    margin-left: 20px;
  }
  