.filterbox {
    width: 10vmax;
    position: absolute;
    top: 10vmax;
    left: 4vmax;
}
.categoryBox {
    padding: 0%;
}
.category-link {
    list-style: none;
    color: rgba(0, 0, 0, 0.61);
    font: 400 0.8vmax "Roboto";
    margin: 0.4vmax;
    cursor: pointer;
    transition: all 0.5s;
}
.category-link:hover {
    color: rgb(45, 1, 121);
}
.filterbox > fieldset {
    border: 1px solid rgba(0, 0, 0, 0.329);
}

@media screen and (max-width: 600px) {
    .filterbox {
        width: 20vmax;
        position: static;
        margin: auto;
    }
    .category-link {
        font: 400 1.8vmax "Roboto";
    }
}